IP={{ general_info.IP }}
SO={{ general_info.SO }}
KERNEL={{ general_info.KERNEL }}
ARCH={{ general_info.ARCH }}    
CPU={{ general_info.CPU }}
MEM={{ general_info.MEM }} 
TIPO={{ general_info.TIPO }}
UUID={{ general_info.UUID }}
MODEL={{ general_info.MODEL }}
UPTIME={{ general_info.UPTIME }}
